:root {
  --background: #ffffff;
  --foreground: #eef1e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0c0b0b;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

selector {
  background-color: antiquewhite;
}

body {
  position: relative;
  /* Necesario para posicionar el pseudo-elemento */
  padding: 10px;
  margin: 0;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("bgImg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
  /* Coloca el fondo detrás del contenido */
  filter: blur(8px);
  /* Ajusta el valor para más/menos borrosidad */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.24);
  /* Negro con 50% de opacidad */
  z-index: -1;
  /* Entre el fondo y el contenido */
}

/*Juego Piano*/
.juego-piano {
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  padding: 1.5rem;
}

p {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.juego-colores {
  width: 100%;
  height: 100vh;
}

.juego-contar {
  width: 100%;
  height: 100vh;
}

.juego-tic-tac-toe {
  width: 100%;
  height: 100vh;
}

.juego-rompecabezas {
  width: 100%;
  height: 100vh;
}

.Frase {
  text-align: center;
}

.Conten {
  background-color: #05660581;
  padding: 30px;
  border-radius: 20px;
}

.Conten h2 {
  color: rgb(243, 238, 238);
  font-size: 2rem;
  margin-top: 1rem;
}

h2 {
  color: rgb(243, 238, 238);
  font-size: 2rem;
  margin-top: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
  background-color: #f1c40f;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #e67e22;
  color: white;
}