:root {
  --background: #ffffff;
  --foreground: #eef1e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0c0b0b;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

selector {
  background-color: antiquewhite;
}

body {
  background-color: rgb(252, 249, 249);
}

/*Juego Piano*/
.juego-piano {
  width: 100%;
  height: 100vh;
}

h1{
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5rem;
  background-color: purple;
  padding: 2rem;
}
p{
  text-align: justify;
}
